*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  :root{
    --index: calc(1vw + 1vh)
  }
  
  .sign-in-container{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    color: #fff;
  }
  
  .inner__container{
    width: 100%;
    height: 100%;
  }
  
  .content__container{
    width: 50%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(252, 80, 255, 0.111) 0%, rgba(168, 168, 168, 0.137) 100%);
  }
  
  .background{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  .background__container {
    background-image: url('../images/forms-img.jpg');
    width: 65%;
    height: 100%;
    background-size: cover;
    background-position: top;
    
  }
  
  .form{
    width: 100%;
    height: 100%;
  }
  
  .form__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form__title{
    font-size: calc(var(--index) * 3.5);
    font-weight: 800;
    text-shadow: 0 0 5px #ff50d9;
    text-align: center;
    padding: 0 calc(var(--index) * 3.2);
    line-height: .98;
  }
  
  .form__caption{
    margin: calc(var(--index) * 1.8) 0 calc(var(--index) * 1) 0;
    width: 54%;
    text-align: start;
    font-size: calc(var(--index) * .7);
    font-weight: 500;
  }
  
  .sign-in__form{
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * 1.1);
    width: 54%;
  }
  
  .sign-in__form input {
    font-size: calc(var(--index) * .9);
    outline-color: #fff;
    border: 2.5px solid #fff;
    background: none;
    color: #fff;
    padding: calc(var(--index) * .55) calc(var(--index) * .9);
    font-weight: 500;
  }
  
  .form__navigation{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: calc(var(--index) * .8);
  }
  
  .sign-in__button{
    padding: calc(var(--index) * .3) calc(var(--index) * .6);
    color: #fff;
    font-size: calc(var(--index) * .8);
    font-weight: 600;
    background-color: #ff50d9;
    border: none;
    outline: none;
    cursor: pointer;
  
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
  }
  
  .sign-in__button:hover{
    background-color: #fff;
    color: #ff50d9;
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
  }
  
  .sign-up__link{
    text-decoration: none;
    color: #fff;
    font-size: calc(var(--index) * .8);
    font-weight: 600;
    cursor: pointer;
  }
  
  .sign-up__link:hover{
    text-decoration: underline;
  }

