* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

:root {
    --index: calc(1vw + 1vh)
}

.genre-container {
    width: 100vw;
    height: 100vh;
    background-color: #120A14;
    overflow-x: hidden;
}

.genre-inner__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.genre-main{
    width: 100%;
}

.genre-main-title{
    width: 100%;
   
}

.genre-main-title__container{
    width: 100%;
    padding: calc(var(--index) * 5.1) 0 calc(var(--index) * 2.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.genre-main-title__container span{
    background-color: #FFC24C;
    width: 100%;
    height: calc(var(--index) * .1);
    display: block;
}

.genre-main-title__title{
    font-size: calc(var(--index) * 2);
    font-weight: 700;
    color: #FFC24C;
    margin-top: calc(var(--index) * -1.5);
    padding: 0 calc(var(--index) * 1.2);
    background-color: #120A14;
}

.genre-main-content{
    width: 100%;
}

.genre-main-content__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * 3);
    padding: 0 6vw calc(var(--index) * 3.4) 6vw;
}

.genre-anime-list{
    width: 100%;
    
}

.genre-anime-list__container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: calc(var(--index) * 2.1);
    flex-wrap: wrap;
}

.genre-anime__anime{
    width: calc(var(--index) * 10);
    flex-shrink: 0;
}

.genre-anime__image{
    display: block;
    width: 100%;
    height: calc(var(--index) * 13);
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-decoration: none;
    position: relative;

    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
}

.genre-anime__image img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.genre-anime__image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0; 
    transition: opacity .4s ease-out;
    z-index: 100;
}

.genre-anime__image::after {
    content: "\f04b"; 
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    font-size: calc(var(--index) * 2); 
    color: #ffffff; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .4s ease-out;
    z-index: 200;
}

.genre-anime__image:hover::before {
    opacity: .2;
}

.genre-anime__image:hover::after {
    opacity: 1;
}

.genre-anime__score{
    padding: calc(var(--index) * .18) calc(var(--index) * .28) calc(var(--index) * .18) calc(var(--index) * .4);
    background-color: #FFC24C;
    z-index: 2;
}

.genre-anime__score i, .genre-anime__score span{
    color: black;
    font-weight: 700;
    margin-right: 4px;
    font-size: calc(var(--index) * .7);
}

.genre-anime__name{
    font-weight: 600;
    font-size: calc(var(--index) * .7);
    margin-top: 6px;
}


.genre-loading-caption{
    margin-top: calc(var(--index) * -14);
    font-size:  calc(var(--index) * .8);
}